<!DOCTYPE html>
<html>
<head>
  <title>Git hub stats</title>
  <%= stylesheet_link_tag    "git_hub_stats/application", media: "all" %>
  <%= javascript_include_tag "git_hub_stats/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
